<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=0"/>

	<title>Test Suite</title>

	<link rel="stylesheet" href="mocha/mocha.css"/>
</head>
<body>
	<h1>Test Suite</h1>
	<div id="mocha"></div>

	<script src="mocha/mocha.js"></script>
	<script src="chai/chai.js"></script>
	<script src="sinon/pkg/sinon.js"></script>

	<script src="<%= appName %>.js"></script>
	<script src="test.js"></script>
</body>
</html>
